{{#section 'head'}}
	<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
	<link rel="stylesheet" href="/assets/css/forgot-password.css" />
{{/section}}

{{> header}}

<div class="wrapper">

	<div class="account-form-wrapper">
		<form action="/account/forgot-password" method="post" class="account forgot-password">
			<h2>{{ locale.account.forgotPassword.header }}</h2>
			<p>{{ locale.account.forgotPassword.sub }}</p>
			<div>
				<label for="input">{{ locale.account.forgotPassword.input }}</label>
				<input name="input" id="input" value="{{ input }}" required>
			</div>
			<div class="h-captcha" data-sitekey="cf3fd74e-93ca-47e6-9fa0-5fc439de06d4"></div>
			<div class="buttons">
				<button type="submit">{{ locale.account.forgotPassword.submit }}</button>
			</div>
		</form>
	</div>
</div>

{{#if success_message}}
<div class="banner-notice success">
	<div>
		<p>{{ success_message }}</p>
	</div>
</div>
{{/if}}

{{#if error_message}}
<div class="banner-notice error">
	<div>
		<p>{{ error_message }}</p>
	</div>
</div>
{{/if}}