<div class="sidebar">
	<div class="section">
		<h5>{{ locale.docs.sidebar.getting_started }}</h5>
		<a href="/docs/welcome">{{ locale.docs.sidebar.welcome }}</a>
		<a href="/docs/install">{{ locale.docs.sidebar.install_extended }}</a>
		<a href="/docs/search">{{ locale.docs.sidebar.search }}</a>
	</div>

	<div class="section">
		<h5>{{ locale.docs.sidebar.install }}</h5>
		<a href="/docs/install/wiiu">Wii U</a>
		<a href="/docs/install/3ds">3DS</a>
		<a href="/docs/install/cemu">Cemu</a>
		<a href="/docs/install/citra">Citra</a>
		<a href="/docs/install/juxt">Juxt</a>
	</div>

	<div class="section">
		<h5>{{ locale.docs.sidebar.juxt_err }}</h5>
		<a href="/docs/errors/JXT-598-0009">JXT-598-0009</a>
		<a href="/docs/errors/JXT-598-0010">JXT-598-0010</a>
		<a href="/docs/errors/JXT-598-0011">JXT-598-0011</a>
		<a href="/docs/errors/JXT-598-0020">JXT-598-0020</a>
	</div>
</div>

<script>
  function selectSidebarElement(element) {
	element.scrollIntoView({ block: "center" });
	element.classList.add('active');
  }

  selectSidebarElement(document.querySelector("div.sidebar a[href='/docs/{{currentPage}}']"));
</script>
