<link rel="stylesheet" href="/assets/css/partials/footer.css" /></link>

<footer>
	<div>
		<svg class="logotype" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 39.876" preserveAspectRatio="xMinYMin meet">
			<g id="logo_type" data-name="logo type" transform="translate(-553 -467)">
				<g id="logo" transform="translate(553 467)">
					<rect id="XMLID_158_" width="39.876" height="39.876" fill="#9d6ff3" opacity="0" />
					<g id="XMLID_6_" transform="translate(8.222 1.418)">
						<path id="XMLID_15_"
							d="M69.149,28.312c-1.051.553-.129,2.139.922,1.585a12.365,12.365,0,0,1,8.794-.571,10.829,10.829,0,0,1,6.342,4.166c.645,1,2.231.074,1.585-.922C83.308,27.169,74.7,25.436,69.149,28.312Z"
							transform="translate(-64.246 -23.389)" fill="#9d6ff3" />
						<path id="XMLID_14_"
							d="M82.64,14.608A15.565,15.565,0,0,0,73.5,8.45a17.535,17.535,0,0,0-12.647.9c-1.051.553-.129,2.139.922,1.585,3.411-1.788,7.6-1.714,11.209-.719,3.1.848,6.268,2.544,8.038,5.309C81.681,16.543,83.267,15.622,82.64,14.608Z"
							transform="translate(-57.476 -7.693)" fill="#9d6ff3" />
						<path id="XMLID_9_"
							d="M55.68,47.8a10.719,10.719,0,0,0-6.71,2.3H45.983A1.336,1.336,0,0,0,44.6,51.376V75.84a1.431,1.431,0,0,0,1.383,1.383h3.023a1.367,1.367,0,0,0,1.309-1.383V68.392A10.993,10.993,0,1,0,55.68,47.8Zm0,17.182a6.213,6.213,0,1,1,6.213-6.213A6.216,6.216,0,0,1,55.68,64.982Z"
							transform="translate(-44.6 -40.406)" fill="#9d6ff3" />
					</g>
				</g>
				<text id="Pretendo" transform="translate(593 492)" fill="#fff" font-size="17"
					font-family="Poppins-Bold, Poppins" font-weight="700">
					<tspan x="0" y="0">Pretendo</tspan>
				</text>
			</g>
		</svg>
		<p>Copyright 2022</p>
		<p>Site by <a href="https://mrjvs.com/" target="_blank">mrjvs</a>, <a href="https://jipfr.nl/" target="_blank">jipfr</a> & <a href="https://ashm.dev/" target="_blank">monty</a></p>
	</div>
	<div>
		<h1>{{ locale.footer.socials }}</h1>
		<a href="https://twitter.com/PretendoNetwork/" target="_blank">Twitter</a>
		<a href="https://invite.gg/pretendo" target="_blank">Discord</a>
		<a href="https://github.com/PretendoNetwork" target="_blank">GitHub</a>
	</div>
	<div>
		<h1>{{ locale.footer.usefulLinks }}</h1>
		<a href="/docs">{{ locale.nav.docs }}</a>
		<a href="/#faq">{{ locale.nav.faq }}</a>
		<a href="/progress">{{ locale.nav.progress }}</a>
		<a href="/blog">{{ locale.nav.blog }}</a>
		<a href="/account">{{ locale.nav.account }}</a>
		<a href="/account/upgrade">{{ locale.nav.donate }}</a>
	</div>
	<div class="discord-server-card-wrapper">
		<div class="discord-server-card">
			<h1>{{ locale.footer.widget.captions.[0] }}</h1>
			<h2>{{ locale.footer.widget.captions.[1] }}</h2>
			<a href="https://invite.gg/pretendo">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
					<line x1="5" y1="12" x2="19" y2="12"></line>
					<polyline points="12 5 19 12 12 19"></polyline>
				</svg>
				{{ locale.footer.widget.button }}
			</a>
		</div>
		<div class="bandwidth-raccoon-wrapper">
			<div class="text-bubble">
				<p>I'm a raccoon, and I love eating grapes!</p>
			</div>
			<img src="/assets/images/bandwidth.svg" class="bandwidth-raccoon" />
		</div>
	</div>
</footer>
<script>
	const bandwidthRaccoon = document.querySelector("footer img.bandwidth-raccoon");
	const bandwidthRaccoonWrapper = document.querySelector("footer .bandwidth-raccoon-wrapper");
	const bandwidthRaccoonBubbleText = document.querySelector("footer .bandwidth-raccoon-wrapper .text-bubble p");
	let i = 0;

	function unescapeHTML(string) {
  	const el = document.createElement("span");
  	el.innerHTML = string;
  	return el.innerText;
	}


	const randomSentences = [
	{{#each locale.footer.bandwidthRaccoonQuotes}}
		`${unescapeHTML("{{this}}")}`,
	{{/each}}
	]

	bandwidthRaccoon.addEventListener("click", () =>
	{
		bandwidthRaccoonWrapper.classList.add("speak");
		if (!randomSentences[i]) {
			i = 0
		}
		bandwidthRaccoonBubbleText.innerText = randomSentences[i];
		i += 1;
	})
</script>
