<link rel="stylesheet" href="/assets/css/partials/header.css" ></link>

<header>
	<a href="/" class="logo-link">
		<svg xmlns="http://www.w3.org/2000/svg" width="120" height="39.876">
			<g id="logo_type" data-name="logo type" transform="translate(-553 -467)">
				<g id="logo" transform="translate(553 467)">
					<rect id="XMLID_158_" width="39.876" height="39.876" fill="#9d6ff3" opacity="0" />
					<g id="XMLID_6_" transform="translate(8.222 1.418)">
						<path id="XMLID_15_"
							d="M69.149,28.312c-1.051.553-.129,2.139.922,1.585a12.365,12.365,0,0,1,8.794-.571,10.829,10.829,0,0,1,6.342,4.166c.645,1,2.231.074,1.585-.922C83.308,27.169,74.7,25.436,69.149,28.312Z"
							transform="translate(-64.246 -23.389)" fill="#9d6ff3" />
						<path id="XMLID_14_"
							d="M82.64,14.608A15.565,15.565,0,0,0,73.5,8.45a17.535,17.535,0,0,0-12.647.9c-1.051.553-.129,2.139.922,1.585,3.411-1.788,7.6-1.714,11.209-.719,3.1.848,6.268,2.544,8.038,5.309C81.681,16.543,83.267,15.622,82.64,14.608Z"
							transform="translate(-57.476 -7.693)" fill="#9d6ff3" />
						<path id="XMLID_9_"
							d="M55.68,47.8a10.719,10.719,0,0,0-6.71,2.3H45.983A1.336,1.336,0,0,0,44.6,51.376V75.84a1.431,1.431,0,0,0,1.383,1.383h3.023a1.367,1.367,0,0,0,1.309-1.383V68.392A10.993,10.993,0,1,0,55.68,47.8Zm0,17.182a6.213,6.213,0,1,1,6.213-6.213A6.216,6.216,0,0,1,55.68,64.982Z"
							transform="translate(-44.6 -40.406)" fill="#9d6ff3" />
					</g>
				</g>
				<text id="Pretendo" transform="translate(593 492)" fill="#fff" font-size="17"
					font-family="Poppins-Bold, Poppins" font-weight="700">
					<tspan x="0" y="0">Pretendo</tspan>
				</text>
			</g>
		</svg>
	</a>

	<nav>
		<a href="/#about">{{ localeHelper locale "nav.about" }}</a>
		<a href="/#faq">{{ localeHelper locale "nav.faq" }}</a>
		<a href="/#credits">{{ localeHelper locale "nav.credits" }}</a>
		<a href="/docs">{{ localeHelper locale "nav.docs"}}</a>
		<a href="/progress" class="keep-on-mobile">{{ localeHelper locale "nav.progress"}}</a>
		<a href="/blog" class="keep-on-mobile">{{ localeHelper locale "nav.blog" }}</a>
		<a href="/account/upgrade" class="keep-on-mobile">Donate</a>
	</nav>

	<div class="right-section">
		<!-- Ordered the locales in the same way Google orders them -->
		<div class="select-box locale-dropdown" data-dropdown>
			<div class="options-container">
				<div class="option">
					<input type="radio" class="radio" id="en-US" name="category" />
					<label for="en-US">
						<div class="item"><span class="locale-names">English</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="de-DE" name="category" />
					<label for="de-DE">
						<div class="item"><span class="locale-names">Deutsch</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="es-ES" name="category" />
					<label for="es-ES">
						<div class="item"><span class="locale-names">Español</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="fr-FR" name="category" />
					<label for="fr-FR">
						<div class="item"><span class="locale-names">Français</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="it-IT" name="category" />
					<label for="it-IT">
						<div class="item"><span class="locale-names">Italiano</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="nl-NL" name="category" />
					<label for="nl-NL">
						<div class="item"><span class="locale-names">Nederlands</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="nb-NO" name="category" />
					<label for="nb-NO">
						<div class="item"><span class="locale-names">Norsk</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="pl-PL" name="category" />
					<label for="pl-PL">
						<div class="item"><span class="locale-names">Polski</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="pt-BR" name="category" />
					<label for="pt-BR">
						<div class="item"><span class="locale-names">Português</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="ro-RO" name="category" />
					<label for="ro-RO">
						<div class="item"><span class="locale-names">Română</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="ru-RU" name="category" />
					<label for="ru-RU">
						<div class="item"><span class="locale-names">Pусский</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="uk-UA" name="category" />
					<label for="uk-UA">
						<div class="item"><span class="locale-names">Yкраї́нська</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="ar-AR" name="category" />
					<label for="ar-AR">
						<div class="item"><span class="locale-names">اَلْعَرَبِيَّةُ</span></div>
					</label>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="zh-CN" name="category" />
					<label for="zh-CN">
						<div class="item"><span class="locale-names">中文（简体）</span></div>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="ja-JP" name="category" />
					<label for="ja-JP">
						<div class="item"><span class="locale-names">日本語</span></div>
				</div>
				<div class="option">
					<input type="radio" class="radio" id="ko-KR" name="category" />
					<label for="ko-KR">
						<div class="item"><span class="locale-names">한국어</span></div>
					</label>
				</div>
			</div>
			<div class="locale-dropdown-toggle">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
			</div>
		</div>

		{{#if isLoggedIn}}
			<div class="user-widget-wrapper logged-in">
				<div class="user-widget-toggle">
					<img src="{{ account.mii.image_url }}" alt="{{ account.mii.name }}" />
				</div>
				<div class="user-widget">
					<div class="user-avatar">
						<img src="{{ account.mii.image_url }}" alt="{{ account.mii.name }}" />
					</div>
					<div class="user-info">
						<div class="mii-name">{{ account.mii.name }}</div>
						<div class="pnid">{{ account.username }}</div>
					</div>
					<div class="buttons">
						<a href="/account">
							<button class="button primary">
								{{ localeHelper locale "nav.accountWidget.settings" }}
							</button>
						</a>
						<a href="/account/logout">
							<button class="button logout">
								{{ localeHelper locale "nav.accountWidget.logout" }}
							</button>
						</a>
					</div>
				</div>
			</div>
		{{else}}
			<div class="user-widget-wrapper">
				<a class="login-link" href="/account/login">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
				</a>
			</div>
		{{/if}}
	</div>
</header>

<script src="/assets/js/header-handler.js"></script>
