<nav class="navWrapper" id="nav">
	<a class="navItem brand{{#if_eq page 'home'}} active{{/if_eq}}" {{#if_neq page 'home'}}href="/"{{/if_neq}}>{{ locale.nav.brand }}</a>
	<a class="navItem{{#if_eq page 'news'}} active{{/if_eq}}" {{#if_neq page 'news'}}href="/news"{{/if_neq}}>{{ locale.nav.links.news }}</a>
	<a class="navItem{{#if_eq page 'progress'}} active{{/if_eq}}" {{#if_neq page 'progress'}}href="/progress"{{/if_neq}}>{{ locale.nav.links.progress }}</a>
	<a class="navItem{{#if_eq page 'contact'}} active{{/if_eq}}" {{#if_neq page 'contact'}}href="/contact"{{/if_neq}}>{{ locale.nav.links.contact }}</a>
    <div class="navSpread"></div>
{{#if user.isLoggedIn }}
    <a class="navItem navProfile" href="/pnid/dashboard">
        <img src="{{ user.user.pnid.avatar_url }}" alt="{{ user.user.pnid.username }}">
        <p>{{ user.user.pnid.username }}</p>
    </a>
    <a class="navItem navBtn" href="/pnid/logout">logout</a>
{{else}}
    <a class="navItem navBtnAlt" href="/pnid/login">{{ locale.nav.links.login }}</a>
    <a class="navItem navBtn" href="/pnid/register">{{ locale.nav.links.register }}</a>
{{/if}}
    <a class="navItem hamburger" id="navToggle">
        <span></span>
        <span></span>
        <span></span>
    </a>
</nav>