<nav class="navWrapper" id="nav">
	<a class="navItem brand{{#if_eq page 'home'}} active{{/if_eq}}" {{#if_neq page 'home'}}href="/"{{/if_neq}}>{{ locales.nav.brand }}</a>
	<a class="navItem{{#if_eq page 'news'}} active{{/if_eq}}" {{#if_neq page 'news'}}href="/news"{{/if_neq}}>{{ locales.nav.links.news }}</a>
	<a class="navItem{{#if_eq page 'progress'}} active{{/if_eq}}" {{#if_neq page 'progress'}}href="/progress"{{/if_neq}}>{{ locales.nav.links.progress }}</a>
	<a class="navItem{{#if_eq page 'contact'}} active{{/if_eq}}" {{#if_neq page 'contact'}}href="/contact"{{/if_neq}}>{{ locales.nav.links.contact }}</a>
    <div class="navSpread"></div>
{{#if user.isLoggedIn }}
    <a class="navItem navProfile" href="/pnid/dashboard">
        <img src="#" alt="">
        <p>mrjvs@gmail.com</p>
    </a>
    <a class="navItem navBtn" href="/pnid/logout">logout</a>
{{else}}
    <a class="navItem navBtnAlt" href="/pnid/login">{{ locales.nav.links.login }}</a>
    <a class="navItem navBtn" href="/pnid/register">{{ locales.nav.links.register }}</a>
{{/if}}
    <a class="navItem hamburger" id="navToggle">ICON</a>
</nav>