<nav class="userNav">
	<div class="userNavProfile">
		<img src="{{ user.user.pnid.avatar_url }}" alt="{{ user.user.pnid.username }}">
		<p class="name">{{ user.user.pnid.username }}</p>
	</div>
	<div class="links">
		<a class="navItem active" href="#">{{ locale.dashboard.navigation.links.account }}</a>
		<a class="navItem" href="#">{{ locale.dashboard.navigation.links.soon }}</a>
	</div>
</nav>