<div class="feature-list-wrapper">
	<div class="feature-list-top">
		<div>
			<div class="feature-progress-chart">
				<p class="percentage-label">{{ data.percent }}</p>
				<canvas></canvas>
			</div>
		</div>
	</div>
	<div class="core">

		<div class="progress-title">
			<h3>{{ data.title }}</h3>
		</div>
		<div class="feature-list">
			{{#each data.progress.completed}}
			<div class="feature">
				{{> custom-checkbox status="completed" }}
				<span>{{ this }}</span>
			</div>
			{{/each}}

			{{#each data.progress.started}}
			<div class="feature">
				{{> custom-checkbox status="started" }}
				<span>{{ this }}</span>
			</div>
			{{/each}}

			{{#each data.progress.not_started}}
			<div class="feature">
				{{> custom-checkbox status="not_started" }}
				<span>{{ this }}</span>
			</div>
			{{/each}}
		</div>
	</div>
</div>