<link rel="stylesheet" href="/assets/css/reset-password.css" />

{{> header}}

<div class="wrapper">
	<div class="account-form-wrapper">
		<form method="post" class="account">
			<h2>{{ locale.account.resetPassword.header }}</h2>
			<p>{{ locale.account.resetPassword.sub }}</p>
			<div>
				<label for="password">{{ locale.account.resetPassword.password }}</label>
				<input name="password" id="password" type="password" autocomplete="new-password" required>
			</div>
			<div>
				<label for="password_confirm">{{ locale.account.resetPassword.confirmPassword }}</label>
				<input name="password_confirm" id="password_confirm" type="password" autocomplete="new-password" required>
			</div>
			<input name="token" id="token" type="hidden" value="{{ token }}">
			<div class="buttons">
				<button type="submit">{{ locale.account.resetPassword.submit }}</button>
			</div>
		</form>
	</div>
</div>

<script src="/assets/js/reset-password.bundled.js"></script>