<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-contact.css">
    </head>
    <body class="flex">
        {{> nav-default }}
        <div class="contentWrapper bgLinesSmall">
            <div class="bgExtrude"></div>
            <section class="bigCardWrapper">
                <div class="bigCard">
                    <p class="txt-highlight">ERROR</p>
				    <h1 class="txt-title">{{ locale.contact.title }}</h1>
                    <form action="/api/v1/sendmessage" method="POST">
                        <div class="input-container">
                            <input type="text" name="email" placeholder="{{ locale.contact.email_placeholder }}">
                            <input type="text" name="subject" placeholder="{{ locale.contact.subject_placeholder }}">
                        </div>
                        <textarea name="message" placeholder="{{ locale.contact.message_placeholder }}"></textarea>
                        <div class="txt-center">
                            <button class="btn">{{ locale.contact.button_text }}</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        {{> footer-default }}
    </body>
</html>
