<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-pnid.css">
    </head>
    <body class="flex">
        {{> nav-default }}
        <div id="email_validation_popup" class="email_popup{{#if_eq user.email_validated true}} hide{{/if_eq}}"><p>{{ locale.validate_email_popup.text }}</p><span><button class="btn-alt small">{{ locale.validate_email_popup.change_button_text }}</button> <button class="btn small">{{ locale.validate_email_popup.repeat_button_text }}</button></span></div>
        <div class="contentWrapper userPage">
            {{> nav-dashboard }}
            <section class="contentCard">
                <p class="txt-highlight">{{ locale.dashboard.account.caption }}</p>
                <h1 class="txt-title small">{{ locale.dashboard.account.title }}</h1>
            </section>
        </div>  
        {{> footer-default }}
    </body>
</html>
