<!DOCTYPE html>
<html lang="en">
    <head>
        {{> metatags }}
        <title>{{ title }}</title>
        <!-- css files -->
        <link rel="stylesheet" href="/assets/css/pretendo-common.css">
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-auth.css">
        <script src="/assets/js/api.js" defer></script>
    </head>
    <body class="flex center">
        <div class="card">
            <h2 class="head">{{ locale.nav.brand }}</h2>
            <div class="content">
                <p class="txt-highlight">{{ locale.forgot.card.caption }}</p>
                <h1 class="txt-title small">{{ locale.forgot.card.title }}</h1>
                <div id="errorBox" class="error hide"></div>
                <form method="POST">
                    <label for="email_input">{{ locale.forgot.card.email_text}}</label>
                    <input type="text" class="hasLabel" id="email_input" name="email_input">
                </form>
                <button class="btn btnMargin" onclick="passwordForgot();">{{ locale.forgot.card.button_text }}</button>
            </div>
        </div>
        {{> footer-default }}
    </body>
</html>
