<!DOCTYPE html>
<html lang="en">
	<head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-home.css">
	</head>
	<body>
		{{> nav-default }}
        <div class="contentWrapper">
            <header>
                <h1>{{ locale.home.header.title }}</h1>
                <hr>
			    <h3>{{ locale.home.header.text }}</h3>
            </header>
        </div>
        <div class="contentWrapper bgLines">
            <div class="bgExtrude"></div>
            <section class="bigCardWrapper">
                <div class="bigCard">
                    <p class="txt-highlight">ERROR</p>
				    <h1 class="txt-title">{{ locale.about.title }}</h1>
				    <p>{{ locale.about.text }}</p>
                </div>
            </section>

            <section class="bigCardWrapper">
                <div class="bigCard">
                    <p class="txt-highlight">ERROR</p>
				    <h1 class="txt-title">{{ locale.credits.title }}</h1>
				    <div class="cardProfiles">
                        <!-- profile -->
					    <div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div><!--
                        --><div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/117261997619412996/c0e34de348b8d45e7a16c0260173bc8c.webp?size=256">
						    <div class="profileText">
								<h2 class="txt-smallHeading">RedDucks</h2>
								<p>Project owner, lead developer, very violent young man. Splatoon obsessed as well.</p>
						    </div>
					    </div>
				    </div>
                </div>
            </section>

            <section class="bigCardWrapper">
                <div class="bigCard lessPadding cont-flex">
                    <div class="flex-item">
                        <p class="txt-highlight">ERROR</p>
					    <h1 class="txt-title">ERROR</h1>
					    <p>ERROR</p>
                        <button class="btn">ERROR</button>
                    </div>
                    <div class="cont-flex">
                        {{#each posts }}
                        <div class="smallCardWidth">
                            <div class="smallCard">
                                <h3 class="txt-smallHeading">{{ this.title }}</h3>
                                <p>{{ this.content }}</p>
                                <a href="/news/{{ this.url }}" class="btn-alt">ERROR</a>
                            </div>
                        </div>
                        {{/each }}
                    </div>
                </div>
            </section>
        </div>
        {{> footer-default }}
	</body>
</html>