<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head-common }}
		<!-- page specific -->
		<link rel="stylesheet" href="/assets/css/pretendo-home.css">
	</head>
	<body>
		{{> navbar }}

		<div class="contentWrapper">
			<header>
				<h1>Pretendo</h1>
				<hr>
				<h3>{{ locale.home.header.text }}</h3>
			</header>
		</div>
		<div class="contentWrapper bgLines">
			<div class="bgExtrude"></div>
			<section class="bigCardWrapper">
				<div class="bigCard">
					<p class="txt-highlight">{{ locale.about.caption }}</p>
					<h1 class="txt-title">{{ locale.about.title }}</h1>
					<p>{{ locale.about.text }}</p>
				</div>
			</section>

			<section class="bigCardWrapper">
				<div class="bigCard">
					<p class="txt-highlight">{{ locale.credits.caption }}</p>
					<h1 class="txt-title">{{ locale.credits.title }}</h1>
					<div class="cardProfiles">
                    			{{#each locale.credits.people}}
						<!-- profile -->
						<div class="profile">
							<img class="profileIcon" src="{{picture}}">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">{{name}}</h2>
									<p>{{caption}}</p>
								</div>
								<a href="{{github}}" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
					{{/each}}
					</div>
				</div>
			</section>
		</div>
		{{> footer-default }}
	</body>
</html>
