<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head-common }}
		<!-- page specific -->
		<link rel="stylesheet" href="/assets/css/pretendo-home.css">
	</head>
	<body>
		{{> navbar }}

		<div class="contentWrapper">
			<header>
				<h1>{{ locale.home.header.title }}</h1>
				<hr>
				<h3>{{ locale.home.header.text }}</h3>
			</header>
		</div>
		<div class="contentWrapper bgLines">
			<div class="bgExtrude"></div>
			<section class="bigCardWrapper">
				<div class="bigCard">
					<p class="txt-highlight">{{ locale.about.caption }}</p>
					<h1 class="txt-title">{{ locale.about.title }}</h1>
					<p>{{ locale.about.text }}</p>
				</div>
			</section>

			<section class="bigCardWrapper">
				<div class="bigCard">
					<p class="txt-highlight">{{ locale.credits.caption }}</p>
					<h1 class="txt-title">{{ locale.credits.title }}</h1>
					<div class="cardProfiles">
						<!-- profile -->
						<div class="profile">
							<img class="profileIcon" src="https://avatars3.githubusercontent.com/u/27011796">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">Jonathan Barrow (RedDucks)</h2>
									<p>Project owner and lead developer</p>
								</div>
								<a href="https://github.com/RedDuckss" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://avatars3.githubusercontent.com/u/32065563">
							<div class="profileText">'
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">Jemma (CaramelKat)</h2>
									<p>Miiverse research and development</p>
								</div>
								<a href="https://github.com/CaramelKat" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://avatars3.githubusercontent.com/u/10212424">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">superwhiskers</h2>
									<p>crunch library development</p>
								</div>
								<a href="https://github.com/superwhiskers" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://avatars1.githubusercontent.com/u/19657053">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">SuperMarioDaBom</h2>
									<p>Console and other system research</p>
								</div>
								<a href="https://github.com/SuperMarioDaBom" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/326811693751468033/1064818534277b6cafbb4b53a9a36d3e.png?size=2048">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">Rambo6Glaz</h2>
									<p>Network installer and console research</p>
								</div>
								<a href="https://github.com/NexoDevelopment" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://avatars2.githubusercontent.com/u/19330965">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">mrjvs</h2>
									<p>Web development and early eShop research</p>
								</div>
								<a href="https://github.com/mrjvs" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://avatars1.githubusercontent.com/u/47010303">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">Benjamin Moss (kxpler442b)</h2>
									<p>Web development</p>
								</div>
								<a href="https://github.com/kxpler442b" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://avatars0.githubusercontent.com/u/17685409">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">Jip Fr</h2>
									<p>Web development</p>
								</div>
								<a href="https://github.com/jipfr" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
						<div class="profile">
							<img class="profileIcon" src="https://cdn.discordapp.com/avatars/186572995848830987/b55c0d4e7bfd792edf0689f83a25d8ea.png?size=2048">
							<div class="profileText">
								<div class="profileTextDiv">
									<h2 class="txt-smallHeading">Kinnay</h2>
									<p>None of this would be possible without the research and help done by Kinnay on PRUDP and nex</p>
								</div>
								<a href="https://github.com/Kinnay" target="_blank"><button class="btn small">GitHub</button></a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		{{> footer-default }}
	</body>
</html>