<!DOCTYPE html>
<html lang="en">
    <head>
        {{> metatags }}
        <title>{{ title }}</title>
        <!-- css files -->
        <link rel="stylesheet" href="/assets/css/pretendo-common.css">
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-auth.css">
        <script src="/assets/js/api.js" defer></script>
    </head>
    <body class="flex center">
        <div class="card">
            <h2 class="head">{{ locale.nav.brand }}</h2>
            <div class="content">
                <p class="txt-highlight">ERROR</p>
                <h1 class="txt-title small">{{ locale.login.card.title }}</h1>
                <div id="errorBox" class="error hide"></div>
                <form method="POST">
                    <label for="email">{{ locale.login.card.email_text }}</label>
                    <input type="text" class="hasLabel" id="email_input" name="email">
                    <label for="email">{{ locale.login.card.password_text }}</label>
                    <input type="password" class="hasLabel" id="password_input" name="password">
                </form>
                <button class="btn btnMargin" onclick="login();">{{ locale.login.card.button_text }}</button>
                <p class="lowText">ERROR <a href="#">ERROR</a></p>
            </div>
        </div>
        {{> footer-default }}
    </body>
</html>
