<h1>progress summary</h1>
<p>{{ summary }}</p>
<br>
<h2>game support</h2>
{{#each games }}
<strong>{{ this.title }}</strong>
<p>{{ this.description }}</p>
<p>state: {{ this.state }}</p>
{{/each}}
<br><br>
<h2>backend support</h2>
{{#each backends }}
<strong>{{ this.title }}</strong>
<p>{{ this.description }}</p>
{{/each}}