<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-progress.css">
    </head>
    <body class="flex">
        {{> nav-default }}
        <div class="contentWrapper bgLinesSmall">
            <div class="bgExtrude"></div>
            <section class="bigCardWrapper">
                <div class="bigCard">
                    <p class="txt-highlight">Just to get it all together</p>
				    <h1 class="txt-title">progress summary</h1>
                    <p>{{ summary }}</p>
                </div>
            </section>
            <section class="bigCardWrapper double">
                <div class="bigCard">
                    <p class="txt-highlight">The list you were looking for</p>
				    <h1 class="txt-title">Game compatability</h1>
                    {{#each games }}
                    <div class="listItem state{{ this.state }}">
                        <h2>{{ this.title }}</h2>
                        <p>{{ this.description }}</p>
                    </div>
                    {{/each}}
                </div>
                <div class="bigCard">
                    <p class="txt-highlight">The boring stuff for boring people</p>
				    <h1 class="txt-title">Backend services</h1>
                    {{#each backends }}
                    <div class="listItem">
                        <h2>{{ this.title }}</h2>
                        <p>{{ this.description }}</p>
                    </div>
                    {{/each}}
                </div>
            </section>

        {{> footer-default }}
    </body>
</html>
