<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-common }}
        <!-- page specific -->
        <link rel="stylesheet" href="/assets/css/pretendo-auth.css">

        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="/assets/js/auth.js" defer></script>
    </head>
    <body class="flex center">
        <div class="card">
            <h2 class="head">{{ locale.nav.brand }}</h2>
            <div class="content">
                <p class="txt-highlight">{{ locale.register.card.caption }}</p>
                <h1 class="txt-title small">{{ locale.register.card.title }}</h1>
                <form action="/api/v1/register" method="POST">
                    <label for="email">{{ locale.register.card.email_text }}</label>
                    <input type="text" class="hasLabel" id="email_input" name="email">
                    <label for="username">{{ locale.register.card.username_text }}</label>
                    <input type="text" class="hasLabel" id="username_input" name="username">
                    <label for="password">{{ locale.register.card.password_text }}</label>
                    <input type="password" class="hasLabel" id="password_input" name="password">
                    <label for="confirm_password">{{ locale.register.card.password_confirm_text }}</label>
                    <input type="password" class="hasLabel" id="password_confirm_input" name="confirm_password">

                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_sitekey }}"></div>

                    <button type="submit" class="btn btnMargin">ERROR</button>
                </form>
                <p class="lowText">ERROR <a href="#">ERROR</a></p>
            </div>
        </div>
        {{> footer-default }}
    </body>
</html>
