<!DOCTYPE html>
<html lang="en">
	<head>
		{{> metatags }}
		<title>{{ title }}</title>
		<!-- css files -->
		<link rel="stylesheet" href="/assets/css/pretendo-common.css">
		<!-- page specific -->
		<link rel="stylesheet" href="/assets/css/pretendo-auth.css">
		<script src="/assets/js/api.js" defer></script>
	</head>
	<body class="flex center">
		<div class="card">
			<h2 class="head">{{ locale.nav.brand }}</h2>
			<div class="content">
				<p class="txt-highlight">{{ locale.password.card.caption }}</p>
				<h1 class="txt-title small">{{ locale.password.card.title }}</h1>
				<div id="errorBox" class="error hide"></div>
				<form method="POST">
					<label for="password_input">{{ locale.password.card.password_text}}</label>
					<input type="password" class="hasLabel" id="password_input" name="password_input">
					<label for="password_confirm">{{ locale.password.card.password_confirm_text }}</label>
					<input type="password" class="hasLabel" id="password_confirm" name="password_confirm">
				</form>
				<button class="btn btnMargin" onclick="passwordReset();">{{ locale.password.card.button_text }}</button>
			</div>
		</div>
		{{> footer-default }}
	</body>
</html>
