<link rel="stylesheet" href="/assets/css/blogpost.css" />

{{> header}}

<div class="wrapper blog">

	<div class="card-wrap">
		<div class="purple-card blog-card">

			<h1 class="title">{{{ postInfo.title }}}</h1>
			<div class="pub-info">
				<span>{{ locale.blogPage.published }}</span>
				<div class="profile">
					<img class="profile-picture" src="{{ postInfo.author_image }}" alt="{{ postInfo.author }}">
					<span>{{{ postInfo.author }}}</span>
				</div>
				<span>{{ locale.blogPage.publishedOn }}
					<span class="date">{{{ postInfo.date }}}</span>
				</span>
			</div>

			{{{ htmlPost }}}

		</div>

	</div>

	{{> footer }}

</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<link rel="stylesheet" href="/assets/css/highlightjs.css">
<script>hljs.highlightAll();</script>
